extends layout

block pagetitle
    div(class='page-title')
        h3 Welcome to   
            img(src="/img/favicon.png", height='150', width='150')


block content

    div(class='row-fluid')
        center
            div(id='login')
                center(id='login-content')
                    h3 Sign-in to In2Indie
                        form(class='form-vertical', action='/login', method='post')
                    div
                        label Email:
                        input(type='text', name='email')
                    div
                        label Password:
                        input(type='password', name='password')
                    div
                        //input(type='submit', value='Log In')
                        button(type='submit', class='btn btn-primary', id='signup') Sign In   
                    br
                    div(class="content center-area is-center")
                        div(class="block")
                            //p Sign In/Sign Up using: 
                            a(href='/auth/facebook', class='pure-button ') 
                                img(src='http://i.stack.imgur.com/ZW4QC.png', alt='Login with Faceboook')
                    div(class="content center-area is-center")
                        div(class="block")
                            a(href='/auth/twitter', class='pure-button ') 
                                img(src='https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png', alt='Login with Twitter')
                    h5 To Sign Up for In2Indie: 
                    a(href='/signup' class='btn btn-primary btn-large', id='signup') Sign Up              
                    br
                    br  
                    div(class='input-prepend')
                        div(class='btn-group')
                            select(id='search-menu', class='span12')
                                option(value='name') Name
                                option(value='brand') Type 
                        input(name='searchbox', type='text', class='input-xxlarge', placeholder='Type: Sample Video and press go')
                    button(type='submit', class='btn btn-primary', id='go') 
                            a(href='/result', class='btn btn-primary') go 
  
            div(id='results') 
            div(id='product-capsule')  
                                
script(src='/js/browse.js')

