extends layout

block css
    link(href='/stylesheets/index.styl', rel='stylesheet')

block pagetitle
    div(class='page-title')
        h3 Welcome to   
            img(src="/img/favicon.png", height='150', width='150')


block content

    div(class='row-fluid')
        center
            div(class='span12', id='login')
                left(id='login-content')
                    h3 Sign-in/ Sign-Up
                    div(class="content center-area is-center")
                        div(class="block")
                            a(href='/auth/facebook', class='pure-button ') 
                                img(src='http://i.stack.imgur.com/ZW4QC.png', alt='Login with Faceboook')
                    div(class="content center-area is-center")
                        div(class="block")
                            a(href='/auth/twitter', class='pure-button ') 
                                img(src='https://dev.twitter.com/sites/default/files/images_documentation/sign-in-with-twitter-gray.png', alt='Login with Twitter')
            
            br            
            div(class='input-prepend')
                div(class='btn-group')
                    select(id='search-menu', class='span12')
                        option(value='name') Name
                        option(value='brand') Type
                input(name='searchbox', type='text', class='input-xxlarge', placeholder='Browse for')
                div(button id="find-products" class="btn btn-mini" type="button")
                    p go

            div(id='results')
            div(id='product-capsule') 

            p To view More Sample, click 
                a(href='/sample-video') here           
            
script(src='/js/browse.js')



