extends layout

block css
    link(href='/stylesheets/index.styl', rel='stylesheet')

block pagetitle
    div(class='page-title')
        h3 Welcome to   
            img(src="/img/in2indie.png", height='150', width='150')

block content

    div(class='row-fluid')
        center
            //h1 Welcome To In2Indie
 
            div(class='span8', id='video-sample')
            
                video(width='500', height='350', poster='poster.jpg', controls='controls', preload='none')
    
                //MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 
                source(type='video/mp4', src='myvideo.mp4')

                //WebM/VP8 for Firefox4, Opera, and Chrome 
                source(type='video/webm', src='myvideo.webm')
          
                //Ogg/Vorbis for older Firefox and Opera versions 
                source(type='video/ogg', src='myvideo.ogv')
      
                //Optional: Add subtitles for each language 
                track(kind='subtitles', src='subtitles.srt', srclang='en')
      
                //Optional: Add chapters 
                track(kind='chapters', src='chapters.srt', srclang='en')
      
                //Flash fallback for non-HTML5 browsers without JavaScript 
            
                object(width='320', height='240', type='application/x-shockwave-flash', data='flashmediaelement.swf')
                
                    param(name='movie', value='flashmediaelement.swf')
                    param(name='flashvars', value='controls=true&file=myvideo.mp4')
            
                   //Image as a last resort 
                    img(src='myvideo.jpg', width='320', height='240', title='No video playback capabilities')
               
            div(id=login, class='span3')
                right(id='login-content')
                    h3 Sign-in
                    form(class='form-vertical', action='/login', method='post')
                    input(type='text', id='inputEmail', placeholder='Email')
                    br
                    input(type='password', id='inputPassword', placeholder='Password')
                    br
                    a(type='submit', class='btn btn-primary', id='signin') Sign In
                    hr
                    p To Sign Up for In2Indie:
                    a(href='/signup' class='btn', id='signup') 
                        p Sign Up
                    div(class="content center-area is-center")
                        div(class="block")
                            a(href='/auth/facebook', class='pure-button ') sign in with Facebook
                                #fb-root
                                script#facebook-jssdk(src='//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1387349068217839&version=v2.0')
                                script
                                    (function(d, s, id) {
                                        var js, fjs = d.getElementsByTagName(s)[0];
                                        if (d.getElementById(id)) return;
                                        js = d.createElement(s); js.id = id;
                                        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1387349068217839&version=v2.0";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }
                                    (document, 'script', 'facebook-jssdk'));
                                
            br
            div(class='input-prepend')
                div(class='btn-group')
                    select(id='search-menu', class='span12')
                        option(value='name') Name
                        option(value='brand') Type
                input(name='searchbox', type='text', class='input-xxlarge', placeholder='Browse for')
                a(href='#', id='find-products' class='btn btn-primary' type='button') go

            p To view More Sample, click 
                a(href='/sample-video')  here
            
            


            br
            br
            div(id='results')
            div(id='product-capsule')            

          //  p To view More Sample, click  
            //    a(href='/sample-video') here
            
            
script(src='/js/browse.js')


