doctype html
html
    head
        title= title
        link(href='/stylesheets/style.styl', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
        link(href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", rel="stylesheet")

    body
        div(id='header')
            ul(id='left-top-corner')
                li: a(href='/') In2Indie
            ul(id='right-top-corner')
                li: a(href='/profile') Profile
                li: a(href='/settings') Settings
                li: a(href='/logout') Logout

        div(id='main-content')
            block pagetitle
            div(id='page-content')
                block content

        div(id='footer') 
            ul(id='bottom-left-corner') 
                li: a(href='/about') About
                li: a(href='/FAQ') FAQ

   